@media (max-width:1200px){
    /* btn */
    .btn{
        display: inline-block;
        width: 8rem;
        height: 3rem;
        font-size: 15px;
        font-weight: 700;
        color: var(--white);
        border: 3px solid var(--frist);
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
    }
    /* Home Section */
    .home .home-content h1 {
        color: var(--white);
        font-size: 60px;
        font-weight: bold;
    }
    /* About Section */
    .about .about-img img {
        width: 70%;
        border-radius: 25px;
    }
    /* Services Section */
    /* .service .service-box .ser-card {
        box-shadow: 6px 6px 10px rgb(0 0 0 / 48%), -6px -6px 10px #222;
        padding: 8px;
        text-align: center;
        border-radius: 25px;
        margin: 5px;
        width: 220px;
        height: 220px;
        transition: .5s;
    }
    .service .service-box .ser-card i{
        color: var(--frist);
        font-size: 25px;
    }
    .service .service-box .ser-card h2{
        color: var(--white);
        margin-top: 5px;
        font-size: 20px;
    }
    .service .service-box .ser-card p{
        color: var(--text);
        font-size: 12px;
    }
    .service .service-box .ser-card .btn{
        width: 6rem;
        height: 2rem;
        padding: 5px;
        font-size: 12px;
        color: var(--white);
    } */
    /* Contact Section */
    .contact .contact-text{
        width: 90%;
        padding: 30px;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.48), -6px -6px 10px rgb(20, 20, 20);
        border-radius: 25px;
        text-align: center;
    }
@media (max-width: 1024px) {
    .btn{
        display: inline-block;
        width: 7rem;
        height: 2.6rem;
        font-size: 15px;
        font-weight: 700;
        color: var(--white);
        border: 3px solid var(--frist);
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
    }
    /* Home Section */
    .home .home-content h1 {
        color: var(--white);
        font-size: 50px;
        font-weight: bold;
    }
    /* About Section */
    .about .about-content h1 {
        color: var(--white);
        font-size: 65px;
        font-weight: 700;
    }
    .about .about-content h3 {
        color: var(--white);
        font-size: 28px;
    }
    .about .about-content p {
        color: var(--text);
        font-size: 18px;
        width: 90%;
    }
    .about .about-img img {
        width: 75%;
        border-radius: 25px;
    }
    /* Skills Section */
    .skills .skills-content h1 {
        color: var(--white);
        font-size: 65px;
        font-weight: 700;
    }
    .skills .skills-content p {
        color: var(--text);
        font-size: 18px;
        width: 90%;
    }
    .skills .skills-content .btn {
        color: var(--white);
    }
    .skills .skills-bar li h3 {
        font-size: 18px;
        color: var(--white);
    }
    .service .service-title h1 {
        color: var(--white);
        font-size: 65px;
        font-weight: 700;
        text-align: center;
    }
    /* Services Section */
    
    /* Contact Section */
    .contact .contact-add h1 {
        color: var(--white);
        font-size: 65px;
        font-weight: 700;
    }
    .contact .contact-add p {
        color: var(--text);
        font-size: 18px;
        width: 90%;
        margin-bottom: 50px;
    }
    .contact .contact-add h6 {
        color: var(--text);
        font-size: 14px;
        margin: 12px 0;
    }
    .contact .contact-add i{
        color: var(--frist);
        margin-right: 5px;
        font-size: 22px;
    }
    .contact .contact-text input, textarea{
        background: none;
        border: none;
        border-bottom: 2px solid var(--frist);
        width: 90%;
        margin: 10px;
        color: var(--text);
        font-weight: 600;
        font-size: 18px;
        transition: .5s;
    }
    /* Footer Section */
    .footer .footer-content h2 {
        color: var(--white);
        font-size: 35px;
        font-weight: 600;
        padding: 20px;
    }
    .footer .footer-content p {
        color: var(--text);
        font-size: 15px;
    }
    .footer .footer-content li {
        list-style: none;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border: 2px solid var(--frist);
        width: 40px;
        height: 40px;
        padding: 6px;
        border-radius: 50%;
        transition: .5s;
        margin: 20px 10px;
    }
    .footer h6 {
        color: var(--frist);
        font-size: 14px;
        margin-top: 15px;
        padding: 15px;
        letter-spacing: 1px;
        text-align: center;
        box-shadow: -5px -5px 8px rgb(14 13 13 / 61%);
    }
}

}
@media (max-width: 1024) {
    
}
@media (max-width: 900px) {
    .navbar .navbar-nav .nav-item .nav-link {
        margin: 0 15px;
        font-size: 16px;
    }
    .home .home-content h1 {
        color: var(--white);
        font-size: 40px;
        font-weight: bold;
    }
    .home .home-content h2 {
        color: var(--white);
        font-size: 25px;
        margin-top: -10px;
    }
    .home .home-content .btn {
        margin-top: 10px;
        color: var(--white);
    }
    .about .about-content h1 {
        color: var(--white);
        font-size: 55px;
        font-weight: 700;
    }
    .about .about-content h3 {
        color: var(--white);
        font-size: 24px;
    }
    .about .about-content p {
        color: var(--text);
        font-size: 15px;
        width: 90%;
    }
    /* Skills Section */
    .skills .skills-content h1 {
        color: var(--white);
        font-size: 45px;
        font-weight: 700;
    }
    .skills .skills-content p {
        color: var(--text);
        font-size: 12px;
        width: 90%;
        margin-top: 20px;
    }
    .skills .skills-content .btn{
        margin-top: -5px;
    }
    .skills .skills-bar{
        margin-top: 2rem;
    }
    .skills .skills-bar .bar {
        background: #474747;
        height: 16px;
        display: block;
        overflow: hidden;
        border-radius: 10px;
    }
    .skills .skills-bar .bar span {
        background: var(--frist);
        border-radius: 10px;
        height: 16px;
        float: left;
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        padding-right: 5px;
    }
    .skills .skills-bar li {
        margin: 5px 0;
        padding: 4px;
        color: var(--white);
        list-style: none;
    }
    /* About Section */
    .about .about-content{
        margin-top: 2rem;
    }

}
@media (max-width: 768px) {
    .home .home-content h1 {
        color: var(--white);
        font-size: 30px;
        font-weight: bold;
    }
    .home .home-content h2 {
        color: var(--white);
        font-size: 20px;
        margin-top: -10px;
    }
    .home .home-content .btn {
        margin-top: 10px;
        color: var(--white);
    }
}
@media (max-width: 600px) {
    
}
@media (max-width: 480px) {
    
}
@media (max-width: 320px) {
    
}